

.container h1{
    font-size: 1.2rem;
    font-weight: 500;
}

.title{
    padding: 1rem 0.8rem;
}

.chatbots{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 0.8rem;
}