.carousel{
    position: relative;
}

.carousel:hover .navigation{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation{
    position: absolute;
    width: 40px;
    height: 100%;
    background-color: hsla(0, 0%, 0%, 0.502);
    cursor: pointer;
    display: none;
    z-index: 1000;
}

.left{
    top: 0;
    left: 0;
}

.right{
    top: 0;
    right: 0;
}

@media screen and (max-width: 600px) {
    .navigation{
        display: none;
    }

    .carousel:hover .navigation{
        display: none;
    }
    
}